*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:linear-gradient(135deg,#0f172a,#1e293b);
color:white;
overflow-x:hidden;
text-align:center;
}

#gift-screen{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

#gift-box{
font-size:120px;
cursor:pointer;
animation:bounce 1.5s infinite;
}

@keyframes bounce{
50%{transform:translateY(-20px);}
}

#main-content{
display:none;
padding:20px;
}

#typewriter{
font-size:3rem;
margin-top:30px;
}

.photo-card img{
width:250px;
height:250px;
border-radius:50%;
object-fit:cover;
border:5px solid white;
margin:30px 0;
}

.cake{
font-size:100px;
animation:pulse 1.5s infinite;
}

@keyframes pulse{
50%{
transform:scale(1.1);
}
}

.message{
max-width:700px;
margin:auto;
font-size:1.2rem;
padding:20px;
}

.gallery{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
margin-top:40px;
}

.gallery img{
width:250px;
height:180px;
object-fit:cover;
border-radius:20px;
}

.balloon{
position:fixed;
bottom:-100px;
font-size:50px;
animation:float linear infinite;
}

@keyframes float{
to{
transform:translateY(-120vh);
}
}